n8n/printflow-pro-workflow.json
{
  "name": "PrintFlow Pro - إدارة طباعة وطلبات العملاء",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "printflow-pro/orders",
        "options": {}
      },
      "id": "webhook-order",
      "name": "Webhook: استقبال الطلب",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -820,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "order-action",
              "name": "action",
              "type": "string",
              "value": "={{ $json.action || 'create_order' }}"
            },
            {
              "id": "order-id",
              "name": "orderId",
              "type": "string",
              "value": "={{ $json.orderId || ('PF-' + $now.toFormat('yyyyMMddHHmmss')) }}"
            },
            {
              "id": "stage",
              "name": "stage",
              "type": "string",
              "value": "={{ $json.stage || 'intake' }}"
            },
            {
              "id": "client",
              "name": "client",
              "type": "object",
              "value": "={{ $json.client || {} }}"
            },
            {
              "id": "brief",
              "name": "brief",
              "type": "object",
              "value": "={{ $json.brief || {} }}"
            },
            {
              "id": "pricing",
              "name": "pricing",
              "type": "object",
              "value": "={{ $json.pricing || {} }}"
            },
            {
              "id": "designer",
              "name": "designer",
              "type": "string",
              "value": "={{ $json.designer || 'خالد عمر' }}"
            },
            {
              "id": "designDrafts",
              "name": "designDrafts",
              "type": "array",
              "value": "={{ $json.designDrafts || [] }}"
            },
            {
              "id": "comments",
              "name": "comments",
              "type": "array",
              "value": "={{ $json.comments || [] }}"
            }
          ]
        }
      },
      "id": "set-normalize",
      "name": "Set: تطبيع البيانات",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "name": "action",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "condition": "equals",
                "inputValue": "={{ $json.action }}",
                "value": "create_order"
              }
            },
            {
              "name": "action",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "condition": "equals",
                "inputValue": "={{ $json.action }}",
                "value": "upload_draft"
              }
            },
            {
              "name": "action",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "condition": "equals",
                "inputValue": "={{ $json.action }}",
                "value": "approve_draft"
              }
            },
            {
              "name": "action",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "condition": "equals",
                "inputValue": "={{ $json.action }}",
                "value": "pay_invoice"
              }
            },
            {
              "name": "action",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "operator": {
                    "type": "string",
                    "operation": "equals"
                  }
                },
                "condition": "equals",
                "inputValue": "={{ $json.action }}",
                "value": "change_stage"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch-action",
      "name": "Switch: نوع العملية",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;
const currentDate = new Date().toISOString();
const { client = {}, brief = {}, pricing = {}, designer = 'خالد عمر' } = body;
const parsedQuantity = Number(brief.quantity || 1);
const basePrice = Number(pricing.basePrice || 0);
const extras = Number(pricing.extras || 0);
const tax = Number(pricing.tax || 0);
const total = Number(pricing.total || 0);
const discount = Number(pricing.discount || 0);
const paidAmount = Number(pricing.paidAmount || 0);
let paymentStatus = 'unpaid';
if (paidAmount >= total && total > 0) paymentStatus = 'paid';
else if (paidAmount > 0) paymentStatus = 'partially_paid';

return [{
  json: {
    action: 'create_order',
    order: {
      id: body.orderId,
      client,
      brief: {
        ...brief,
        quantity: parsedQuantity,
        files: brief.files || []
      },
      pricing: {
        basePrice,
        extras,
        tax,
        total,
        discount,
        paidAmount,
        paymentStatus,
        paymentMethod: pricing.paymentMethod || 'none'
      },
      stage: body.stage || 'intake',
      designer,
      designDrafts: [],
      comments: [],
      createdAt: currentDate,
      logs: [
        {
          stage: body.stage || 'intake',
          time: currentDate,
          note: 'تم إنشاء الطلب واستقبال العميل وحساب الفاتورة المبدئية'
        }
      ]
    }
  }
}];"
      },
      "id": "code-create-order",
      "name": "Code: إنشاء الطلب",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -340
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;
const currentDate = new Date().toISOString();
const order = body.order || {};
const draftUrl = body.draftUrl || body.brief?.draftUrl;
const newDraft = {
  id: 'draft_' + Math.random().toString(36).slice(2, 12),
  version: (order.designDrafts || []).length + 1,
  url: draftUrl,
  uploadedAt: currentDate,
  status: 'pending',
  feedback: ''
};

return [{
  json: {
    action: 'upload_draft',
    order: {
      ...order,
      designDrafts: [...(order.designDrafts || []), newDraft],
      stage: 'design',
      logs: [
        ...(order.logs || []),
        {
          stage: 'design',
          time: currentDate,
          note: `تم رفع نموذج التصميم رقم (${newDraft.version}) من قبل المصمم`
        }
      ]
    }
  }
}];"
      },
      "id": "code-upload-draft",
      "name": "Code: رفع مسودة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;
const currentDate = new Date().toISOString();
const order = body.order || {};
const draftId = body.draftId;
const status = body.status || 'approved';
const feedback = body.feedback || '';

const updatedDrafts = (order.designDrafts || []).map((draft) => draft.id === draftId ? { ...draft, status, feedback } : draft);
const approved = status === 'approved';

return [{
  json: {
    action: 'approve_draft',
    order: {
      ...order,
      designDrafts: updatedDrafts,
      stage: approved ? 'printing' : 'design',
      logs: [
        ...(order.logs || []),
        {
          stage: 'design',
          time: currentDate,
          note: `تم ${approved ? 'اعتماد' : 'رفض مع طلب تعديل'} مسودة التصميم رقم (${draftId})`
        },
        ...(approved ? [{
          stage: 'printing',
          time: currentDate,
          note: 'تم إرسال الطلب تلقائياً لقسم الطباعة بعد اعتماد التصميم النهائي'
        }] : [])
      ]
    }
  }
}];"
      },
      "id": "code-approve-draft",
      "name": "Code: اعتماد/رفض المسودة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;
const currentDate = new Date().toISOString();
const order = body.order || {};
const pricing = { ...(order.pricing || {}) };
const amount = Number(body.amount || 0);
const paymentMethod = body.paymentMethod || pricing.paymentMethod || 'none';
pricing.paidAmount = Number(pricing.paidAmount || 0) + amount;
pricing.paymentMethod = paymentMethod;
if (pricing.paidAmount >= Number(pricing.total || 0) && Number(pricing.total || 0) > 0) {
  pricing.paymentStatus = 'paid';
} else if (pricing.paidAmount > 0) {
  pricing.paymentStatus = 'partially_paid';
} else {
  pricing.paymentStatus = 'unpaid';
}

return [{
  json: {
    action: 'pay_invoice',
    order: {
      ...order,
      pricing,
      stage: body.stage || order.stage || 'billing',
      logs: [
        ...(order.logs || []),
        {
          stage: 'billing',
          time: currentDate,
          note: `تم دفع مبلغ بقيمة ${amount} ريال بواسطة ${paymentMethod}. المجموع المدفوع: ${pricing.paidAmount} ريال`
        }
      ]
    }
  }
}];"
      },
      "id": "code-pay-invoice",
      "name": "Code: دفع الفاتورة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;
const currentDate = new Date().toISOString();
const order = body.order || {};
const targetStage = body.stage || 'billing';
const stageNotes = {
  intake: 'تم استقبال الطلب ودخول مرحلة الاستقبال والبريف',
  design: 'تم نقل الطلب إلى مرحلة التصميم والتعديل',
  printing: 'تم نقل الطلب إلى مرحلة الطباعة والتشغيل',
  billing: 'تم نقل الطلب إلى مرحلة الفوترة والدفع',
  completed: 'تم نقل الطلب إلى مرحلة التسليم والانتهاء'
};

return [{
  json: {
    action: 'change_stage',
    order: {
      ...order,
      stage: targetStage,
      logs: [
        ...(order.logs || []),
        {
          stage: targetStage,
          time: currentDate,
          note: stageNotes[targetStage] || `تم نقل الطلب إلى مرحلة ${targetStage}`
        }
      ]
    }
  }
}];"
      },
      "id": "code-change-stage",
      "name": "Code: تغيير المرحلة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        540
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "mergeByFields": [
          "action"
        ],
        "includeOtherFields": true
      },
      "id": "merge-results",
      "name": "Merge: دمج النتائج",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-status",
              "name": "status",
              "type": "string",
              "value": "success"
            },
            {
              "id": "response-order",
              "name": "order",
              "type": "object",
              "value": "={{ $json.order }}"
            },
            {
              "id": "response-action",
              "name": "action",
              "type": "string",
              "value": "={{ $json.action }}"
            },
            {
              "id": "response-message",
              "name": "message",
              "type": "string",
              "value": "={{ $json.action === 'create_order' ? 'تم حفظ الطلب بنجاح' : $json.action === 'upload_draft' ? 'تم رفع المسودة بنجاح' : $json.action === 'approve_draft' ? 'تم تحديث اعتماد المسودة' : $json.action === 'pay_invoice' ? 'تم تسجيل الدفع بنجاح' : 'تم تحديث المرحلة بنجاح' }}"
            }
          ]
        }
      },
      "id": "set-response",
      "name": "Set: رد النتيجة",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        0
      ]
    }
  ],
  "connections": {
    "Webhook: استقبال الطلب": {
      "main": [
        [
          {
            "node": "Set: تطبيع البيانات",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: تطبيع البيانات": {
      "main": [
        [
          {
            "node": "Switch: نوع العملية",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: نوع العملية": {
      "main": [
        [
          {
            "node": "Code: إنشاء الطلب",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: رفع مسودة",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: اعتماد/رفض المسودة",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: دفع الفاتورة",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: تغيير المرحلة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: إنشاء الطلب": {
      "main": [
        [
          {
            "node": "Merge: دمج النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: رفع مسودة": {
      "main": [
        [
          {
            "node": "Merge: دمج النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: اعتماد/رفض المسودة": {
      "main": [
        [
          {
            "node": "Merge: دمج النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: دفع الفاتورة": {
      "main": [
        [
          {
            "node": "Merge: دمج النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: تغيير المرحلة": {
      "main": [
        [
          {
            "node": "Merge: دمج النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: دمج النتائج": {
      "main": [
        [
          {
            "node": "Set: رد النتيجة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "printflow-pro-1",
  "tags": [
    "printflow",
    "printing",
    "crm",
    "workflow"
  ]
}